@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(
      0,
      0,
      0,
      0
    ); /* prevent tap highlight color / shadow */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  }
  /* reset preflight */
  img,
  video {
    max-width: initial;
    width: 100%;
  }
  /* svg {
    fill: currentColor;
  } */

  ::-webkit-scrollbar {
    /* width of the entire scrollbar */
    /* width: 0;                */
  }

  ::-webkit-scrollbar-track {
    /* color of the tracking area */
    /* background: transparent;         */
  }

  ::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    /* background-color: lightgray;     */
    /* roundness of the scroll thumb */
    /* border-radius: 20px;        */
    /*  creates padding around scroll thumb */
    /* border: 3px solid transparent;    */
  }

  input,
  button,
  a,
  *[tabindex="0"],
  *[tabindex="-1"] {
    @apply focus:outline-none;
  }

  .isKeyboard .kbf,
  .isKeyboard a {
    @apply transition focus-within:ring-focus-base focus-within:ring-offset-2 focus-within:ring-4 focus-within:ring-offset-focus-light;
  }
}

@layer utilities {
  /* override the default max-width from tailwind to get a fluid container */
  .container {
    max-width: 100%;
  }
}
